<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tokens Sent!</title>
</head>
<body>
	<h1> Tokens Sent! </h1>
    <p>The transaction has been sent.</p>
    <p>Check the status on <a href="https://ropsten.etherscan.io/address/0xaaf1e1773f039d54f7ecdfdb8ba79872455e76d1"> Etherscan.</a> </p>
</body>
</html>